@model IList<SodaMachine.Models.ProductModel>;

@{
    ViewData["Title"] = "Soda Machine";
}

<div class="text-center">
    <h3>@ViewBag.MainTitle</h3>
</div>
<div class='parent'>
    @foreach (var item in Model)
    {
         <div class='child'>
            <img src=@item.ProductImage alt=@item.ProductName />
            <div>
                <h6 class="text-center"><strong>Disponible:</strong> @item.Quantity</h6>
                <h6 class="text-center"><strong>Precio:</strong> ₡@item.Price c/u</h6>
                <div class='parents'>
                    <div class='child'>
                        <button>+</button>
                        <div class='child' border="5px solid gray">1</div>
                        <button>-</button>
                    </div>
                </div>
            </div>
         </div>
    }
</div>

