html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.parent {
    margin: 0rem;
    padding: 1rem 2rem;
    text-align: center;
}

.child {
    display: inline-block;
    padding: 0rem 2rem;
    vertical-align: middle;
}
div img {
  height: 190px;
  width: 150px;
}

.div {
    height: 100%;
    width: 100%;
    left: 0;
    top: 75%;
    overflow: hidden;
    position: fixed;
    background-color: #D9D9D9
}

.button {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    background-color: #f8f8f8
}

button:active {
    background-color: #FFFFFF;
    transform: translateY(4px);
}